
#system-designer {
    width: 100vw;
    height: 100vh;
    margin: auto;
    position: absolute;
}

#app-content {
    width: 50vw;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    top: 4%;
}

#title-text {
    text-align:center; 
    width: 100%; 
}

#fortress-logo {
    width: calc(0.25 * 50vw);
    position: relative; 
    top: 2%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#test-info {
    position: absolute;
    width:25vw;
    height:25vw;
    top: 45%;
    left: 5%;
}

.module {
    overflow: auto;
    width: 90%;
    position: absolute;
    left: 20px;
    margin: 0 auto;
}

#module-kwh {
    height: 8%;
}

#module-system-information {
    height: 12%;
    width: 100%;
    top: 130px;
    display: none;
}

#module-fortress-system {
    height: 65%;
    width: 100%;
    top: 240px;
    display: none;
}

#system-results {
    display: none;
    position: absolute;
    margin: 0 auto;
    top: 250px;
    left: 20px;
}

#email-results {
    display: none;
    position: absolute;
    margin: 0 auto;
    top: 470px;
    width: 100%;
    height: 15%;
}

#solar-details {
    position: absolute;
    left: 224px;
    top: 1px;
    width: 16px;
    height: 16px;
    display: inline-block;
}

#tilt-azimuth {
    display: none;
    position: absolute;
    top: 2px;
    left: 256px;
    height: 25px;
}

.angle {
    display: inline-block;
    margin-top: 0px;
}

#email-input-container {
    height: 40%;
    width:570px;
    top: 50px;
    position: absolute;
}

#email-input {
    min-width: 0;
}

#captcha-button {
    position: absolute;
    top: 3px;
    right: 0;
}

#inp-tilt { width: 40px;}
#inp-azimuth { width: 40px;}

#inverter-details {
    position: absolute;
    top: 35px;
}

#label-inverter-quantity {
    margin-left: 5px;
}

#battery-details {
    position: absolute;
    top: 65px;
}

#label-battery-quantity {
    margin-left: 5px;
}

#grid-details {
    position: absolute;
    top: 95px;
}

#bill-form-group {
    position: absolute;
}

#utility-api {
    position: absolute;
    left: 500px;
    top: 50px;
    height: 20px;
    text-align: center;
    width: fit-content;
    display:inline-block;
}

#solar-api {
    position: absolute;
    top: 230px;
    left: 200px;
    text-align: center;
    width: fit-content;
}

#utility-results {
    white-space: nowrap;
    position: absolute;
    display: none;
    top: 40px;
}

.big-font {
    font-size: 20px;
}

#solar-details-text {
    position: absolute;
    left: 0px;
    top: 0px;
    margin-top: 0px;
    display: inline-block;
}

#average-electricity-text {
    display: inline-block;
}

#output-options {
    display: inline-block;

}

#residential-rate-inp {
    display: inline-block;
    width: 60px;

}

/* #kwh-slider::-webkit-slider-runnable-track {
    background: #50646f;
} */

#kwh-slider {
    position: absolute;
    height: 16px;
    top: 45px;
    left: 295px;
    width: 170px;
    accent-color: #6fcc87;
}

#solar-array-details {
    position: absolute;
    height: 70px;
    top: 100px;
}

#solar-array-slider {
    width: 200px;
    accent-color: #6fcc87;
    display:inline-block";
}

#solar-array-kws {
    position: absolute;
    top: 25px;
    left: 290px;
}

#battery-system-details {
    position: absolute;
    height: 80px;
    top: 160px;
    width: 100%;
}

#battery-array-details {
    position:absolute;
    height: 70px;
    top: 0px;
    margin: 0 auto;
}

#battery-array-slider {
    width: 200px;
    accent-color: #6fcc87;
    display:inline-block";
}

#battery-array-kwhs {
    position: absolute;
    left: 340px;
    top: 20px;
}

#battery-system-text {
    margin-top: 0px;
    margin-bottom: 0px;
}

#zip-code {
    height: 20px;
    width: 20%;
}

#monthly-bill {
    height: 20px;
    width: 20%;
}

/* h1 {
    text-align: center;
    position: relative;
} */

h2 {
    position: relative;
    left: 0px;
}
h3 {
    position: absolute;
    left: 0px;
    top: 0px;
    margin-top: 0px;
}

